:root {

}

body {  
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.wrapper { 
    outline: 2px solid black;
    background-color: #3eafe4;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20% 35% 35% 10%;
    
}
.header {
    
    background-size: 600px 70px;
    background-image: url(./pexels-tim-mossholder-1764702.jpg);
    grid-column: 1 / 3;
    grid-row: 1 / 2;  
    background-color: rgb(44, 46, 44);
    
}
h1 {
    font-size: 2em;
    font-family: monospace;
    text-shadow: rgb(238, 233, 186) 2px 5px 12px;
    color: rgb(7, 7, 7);
}
.task-content {
    border-right: 2px black solid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;  
    
    
}
.projects {
    border-right: 2px black solid;
    padding: 0.5rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    
    
}
.task-window {
    padding: 1rem;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;    
    grid-column: 1 / 3;
    grid-row: 4 / 5; 
}
